<!DOCTYPE html>

<html>
<head>   
    <!-- title -->
    <title>@ViewBag.Title</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1" />
    <meta name="author" content="ThemeZaa">
    <!-- description -->
    <meta name="description" content="principlesformen is a blog, that focuses on providing useful content for young men in order to help them cope with life challenges and daily life.">
    <!-- keywords -->
    <meta name="keywords" content="principles, financial advice, men, christian dating, relationships, god, purpose">
    <!-- favicon -->
    <link rel="shortcut icon" href="~/custom/images/favicon.png">    
    <link rel="apple-touch-icon" href="~/custom/images/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="72x72" href="~/custom/images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="~/custom/images/apple-touch-icon-114x114.png">
    <!-- animation -->
    <link rel="stylesheet" href="~/custom/css/animate.css" />
    <!-- bootstrap -->
    <link rel="stylesheet" href="~/custom/css/bootstrap.min.css" />
    <!-- et line icon -->
    <link rel="stylesheet" href="~/custom/css/et-line-icons.css" />
    <!-- font-awesome icon -->
    <link rel="stylesheet" href="~/custom/css/font-awesome.min.css" />
    <!-- themify icon -->
    <link rel="stylesheet" href="~/custom/css/themify-icons.css">
    <!-- swiper carousel -->
    <link rel="stylesheet" href="~/custom/css/swiper.min.css">
    <!-- justified gallery  -->
    <link rel="stylesheet" href="~/custom/css/justified-gallery.min.css">
    <!-- magnific popup -->
    <link rel="stylesheet" href="~/custom/css/magnific-popup.css" />
    <!-- revolution slider -->
    <link rel="stylesheet" type="text/css" href="~/custom/revolution/css/settings.css" media="screen" />   
    <link rel="stylesheet" type="text/css" href="~/custom/revolution/css/layers.css">
    <link rel="stylesheet" type="text/css" href="~/custom/revolution/css/navigation.css">
    <!-- bootsnav -->
    <link rel="stylesheet" href="~/custom/css/bootsnav.css">
    <!-- style -->
    <link rel="stylesheet" href="~/custom/css/style.css" />
    <!-- responsive css -->
    <link rel="stylesheet" href="~/custom/css/responsive.css" />
    <!--[if IE]>
        <script src="js/html5shiv.js"></script>
    <![endif]-->
</head>
<body>
    <!-- start header -->
    <header>
        <!-- start navigation -->
        <nav class="navbar navbar-default bootsnav navbar-top header-light background-transparent nav-box-width white-link navbar-expand-lg" style="background-color: gray;">
            <div class="container-fluid nav-header-container">
                <!-- start logo -->
                <div class="col-auto pl-0">
                    <a href="index.html" title="Pofo" class="logo"><img src="~/custom/images/logo.png" data-rjs="images/logo@2x.png" class="logo-dark" alt="Pofo"><img src="~/images/logo-white.png" data-rjs="images/logo-white@2x.png" alt="Pofo" class="logo-light default"></a>
                </div>
                <!-- end logo -->
                <div class="col accordion-menu pr-0 pr-md-3">
                    <button type="button" class="navbar-toggler collapsed" data-toggle="collapse" data-target="#navbar-collapse-toggle-1">
                        <span class="sr-only">toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <div class="navbar-collapse collapse justify-content-end" id="navbar-collapse-toggle-1">
                        <ul id="accordion" class="nav navbar-nav no-margin alt-font text-normal" data-in="fadeIn" data-out="fadeOut">
                            <!-- start menu item -->
                            <li class="megamenu-fw">
                                <a href="#">Home</a>
                            </li>
                            <li class="megamenu-fw">
                                <a href="#">Portfolio</a>
                            </li>
                            <li class="megamenu-fw">
                                <a href="#">Home</a>
                            </li>
                            <li class="megamenu-fw">
                                <a href="#">Portfolio</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-auto pr-0">
                    <div class="header-searchbar">
                        <a href="#search-header" class="header-search-form"><i class="fas fa-search search-button"></i></a>
                        <!-- search input-->
                        <form id="search-header" method="post" action="http://www.themezaa.com/html/pofo/search-result.html" name="search-header" class="mfp-hide search-form-result">
                            <div class="search-form position-relative">
                                <button type="submit" class="fas fa-search close-search search-button"></button>
                                <input type="text" name="search" class="search-input" placeholder="Enter your keywords..." autocomplete="off">
                            </div>
                        </form>
                    </div>
                    <div class="header-social-icon d-none d-md-inline-block">
                        <a href="https://www.facebook.com/" title="Facebook" target="_blank"><i class="fab fa-facebook-f" aria-hidden="true"></i></a>
                        <a href="https://twitter.com/" title="Twitter" target="_blank"><i class="fab fa-twitter"></i></a>
                        <a href="https://dribbble.com/" title="Dribbble" target="_blank"><i class="fab fa-dribbble"></i></a>
                    </div>
                </div>
            </div>
        </nav>
        <!-- end navigation -->
    </header>
    <!-- end header -->

    <section>
        <div class="container">
            <div class="row">

                <main class="col-12 col-lg-9 right-sidebar md-margin-60px-bottom sm-margin-40px-bottom pl-0 md-no-padding-right">
                    @RenderBody()
                </main>

                <partial name="_SidebarPartial" />
            </div>
        </div>
    </section>
    <!-- end blog content section -->
    <!-- start footer -->
    <footer class="footer-classic-dark bg-extra-dark-gray padding-five-bottom sm-padding-30px-bottom">

        <div class="container">
            <div class="footer-bottom border-top border-color-medium-dark-gray padding-30px-top">
                <div class="row">
                    <!-- start copyright -->
                    <div class="col-lg-6 col-md-6 text-small text-md-left text-center">Principles For Men</div>
                    <div class="col-lg-6 col-md-6 text-small text-md-right text-center">&COPY; 2019 developed by <a href="http://www.bondosoft.com/" target="_blank" title="bondosoft">bondosoft</a></div>
                    <!-- end copyright -->
                </div>
            </div>
        </div>
    </footer>
    <!-- end footer -->
    <!-- start scroll to top -->
    <a class="scroll-top-arrow" href="javascript:void(0);"><i class="ti-arrow-up"></i></a>
    <!-- end scroll to top  -->
    <!-- javascript libraries -->
    <script type="text/javascript" src="~/custom/js/jquery.js"></script>
    <script type="text/javascript" src="~/custom/js/modernizr.js"></script>
    <script type="text/javascript" src="~/custom/js/bootstrap.bundle.js"></script>
    <script type="text/javascript" src="~/custom/js/jquery.easing.1.3.js"></script>
    <script type="text/javascript" src="~/custom/js/skrollr.min.js"></script>
    <script type="text/javascript" src="~/custom/js/smooth-scroll.js"></script>
    <script type="text/javascript" src="~/custom/js/jquery.appear.js"></script>
    <!-- menu navigation -->
    <script type="text/javascript" src="~/custom/js/bootsnav.js"></script>
    <script type="text/javascript" src="~/custom/js/jquery.nav.js"></script>
    <!-- animation -->
    <script type="text/javascript" src="~/custom/js/wow.min.js"></script>
    <!-- page scroll -->
    <script type="text/javascript" src="~/custom/js/page-scroll.js"></script>
    <!-- swiper carousel -->
    <script type="text/javascript" src="~/custom/js/swiper.min.js"></script>
    <!-- counter -->
    <script type="text/javascript" src="~/custom/js/jquery.count-to.js"></script>
    <!-- parallax -->
    <script type="text/javascript" src="~/custom/js/jquery.stellar.js"></script>
    <!-- magnific popup -->
    <script type="text/javascript" src="~/custom/js/jquery.magnific-popup.min.js"></script>
    <!-- portfolio with shorting tab -->
    <script type="text/javascript" src="~/custom/js/isotope.pkgd.min.js"></script>
    <!-- images loaded -->
    <script type="text/javascript" src="~/custom/js/imagesloaded.pkgd.min.js"></script>
    <!-- pull menu -->
    <script type="text/javascript" src="~/custom/js/classie.js"></script>
    <script type="text/javascript" src="~/custom/js/hamburger-menu.js"></script>
    <!-- counter  -->
    <script type="text/javascript" src="~/custom/js/counter.js"></script>
    <!-- fit video  -->
    <script type="text/javascript" src="~/custom/js/jquery.fitvids.js"></script>
    <!-- skill bars  -->
    <script type="text/javascript" src="~/custom/js/skill.bars.jquery.js"></script>
    <!-- justified gallery  -->
    <script type="text/javascript" src="~/custom/js/justified-gallery.min.js"></script>
    <!--pie chart-->
    <script type="text/javascript" src="~/custom/js/jquery.easypiechart.min.js"></script>
    <!-- instagram -->
    <script type="text/javascript" src="~/custom/js/instafeed.min.js"></script>
    <!-- retina -->
    <script type="text/javascript" src="~/custom/js/retina.min.js"></script>
    <!-- revolution -->
    <script type="text/javascript" src="~/custom/revolution/js/jquery.themepunch.tools.min.js"></script>
    <script type="text/javascript" src="~/custom/revolution/js/jquery.themepunch.revolution.min.js"></script>

    <script type="text/javascript" src="~/custom/js/main.js"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
